{{ define "main" }}
<div class="posts-container">
    <h1 class="list-title">Tags</h1>
    {{ if eq (len $.Site.Taxonomies.tags) 0 }}
        <p>No tags found</p>
    {{ else }}
    <ul class="post-tags">
        {{ range $.Site.Taxonomies.tags.ByCount }}
        <li class="post-tag">
            <a href="{{ .Page.RelPermalink }}">
                <span class="tag-name">{{ .Name }}</span>
                <span class="tag-posts-count">{{ len .Pages }}</span>
            </a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
</div>
{{ end }}